// Variables

$primary: #2F4550;
$primary-dark: #2D2D2D;
$primary-light: #989898;
$secondary: #677743;
$secondary-dark: #434343;
$secondary-light: #E2E2E1;
$tertiary: $secondary;
$accent: #B94019;

$white: #fff;
$black: #333;



$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $primary;
$color__text-input: $secondary-dark;
$color__text-input-focus: $black;
$color__link: $accent;
$color__link-visited: $accent;
$color__link-hover: $secondary;
$color__text-main: $secondary-dark;

$color__border-button: $accent;
$color__border-button-hover: $accent;
$color__border-button-focus: $accent;
$color__border-input: $secondary-light;
$color__border-abbr: $primary-light;
