// Variables

$primary: #2F4550;
$primary-dark: #2D2D2D;
$primary-light: #989898;
$secondary: #677743;
$secondary-dark: #434343;
$secondary-light: #E2E2E1;
$tertiary: $secondary;
$accent: #B94019;

$white: #fff;
$black: #333;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $primary;
$color__text-input: $secondary-dark;
$color__text-input-focus: $black;
$color__link: $accent;
$color__link-visited: $accent;
$color__link-hover: $secondary;
$color__text-main: $white;
$color__headings: $white;
$headings-color: $white;

$color__border-button: $accent;
$color__border-button-hover: $accent;
$color__border-button-focus: $accent;
$color__border-input: $secondary-light;
$color__border-abbr: $primary-light;

//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              $black;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              lighten($gray-base, 20%);
$gray:                   lighten($gray-base, 33.5%);
$gray-light:             lighten($gray-base, 46.7%);
$gray-lighter:           lighten($gray-base, 93.5%);

$brand-primary:         $primary;
$brand-success:         $secondary;
$brand-info:            #5bc0de !default;
$brand-warning:         $tertiary;
$brand-danger:          $accent;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: $white;

//** Global text color on `<body>`.
$text-color: $color__text-screen;

//** Global textual link color.
$link-color: $color__link;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;