html,
body,
#content {
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-image: url(#{$imagePath}/vintage-time-square.jpg);
  background-color: $primary-light;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (min-width : $md) {
  body {
    background-image: none;
  }
}

section > header {
   @extend %text-background;
}

// Block Elements
section {
  @extend %clearfix;
  display: block;
  padding-top: 2em;
  padding-bottom: 2em;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Main Sections
.container {
  @extend %clearfix;
}

.admin-bar #site-navigation {
  margin-top: 30px;
}

#main-nav {
  background-color: $primary;

  a,
  a:link {
    color: $white;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}


// Backgrounds
@media only screen and (min-width : 768px) {
  #home {
    background-image: url(#{$imagePath}/vintage-time-square.jpg);
  }
  #about {
    background-image: url(#{$imagePath}/editta-sherman-subway.jpg);
  }
  #portfolio {
    background-image: url(#{$imagePath}/coney_island_ferris_wheel.jpg);
  }
  #contact {
    background-image: url(#{$imagePath}/city-new-york-vintage-photography-skyscrapers.jpg);
  }
}

// Home Section
#home {}

#about {}

#portfolio {}

#contact {}

footer {}

// Common Elements

em {
  font-style: italic;
}

p + p {
  padding-top: 20px;
}

.copyleft {}

// Specific Elements
.image-border {
  border: 15px solid $primary-light;
  border-radius: 50%;
}

.image-thumb {
  width: 280px;
  height: 280px;    
  overflow: hidden;
  margin: 0 auto;
  background-size: cover;
  background-position: top;
}

@media only screen and (min-width : 768px) {
  .image-thumb {
    width: 300px;
    height: 300px;    
  }
}

.image-grow {
  @extend %grow;
}

.social-links {
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}