button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.btn {
  box-shadow: 1px 1px 0px 0px $primary-light;
  transition: all .2s ease-in-out;
  @extend %header;

  background-color: $accent;
  color: $white;

  &:link,
  &:visited,
  &:active,
  &:hover,
  &:focus {
      color: $white;
  }

  &:hover,
  &:focus {
      transform: scale(1.1);
  }

}
