//nav.main-navigation
[role='navigation'] {

	@extend .navbar;
	@extend .navbar-inverse;
	@extend .navbar-fixed-top;

	.menu-container {
		@extend .collapse;
		@extend .navbar-collapse;

		@include breakpoint(sm) {
			float: right;
		}

		// ul
		.navigation-menu {
			@extend .nav;
			@extend .navbar-nav;
		}

	}

	h1 {
		@extend .navbar-brand;
		clear: inherit;
		margin-top: 0;
		background: transparent;
	}

	a,
	a:link {
		color: $white;
	}
}

// Footer nav
.site-footer {
	padding-top: .8em;
	@extend .navbar-fixed-bottom;
	@extend .navbar;
	@extend .navbar-inverse;

	.footer-nav {
		@extend .pull-right;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
